################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SettingStorage/SettingStorage/.vs/SettingStorage/v15/Server/sqlite3
